.App {
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(45deg, #2e2f30, #5ab3bf);
}

.title {
  z-index: 1;
  min-height: 80vh;
  position: fixed;
  top: 0;
  left: 0;
}

.canvas {
  min-height: 100vh;
  min-width: 100vw;
  /* 右にずらして拡大 */
  transform: translateX(30%) translateY(-10%) scale(1.5);
}

.p{
  color: white;
  font-size: 3rem;
  position: fixed;
  bottom: 10%;
  left: 10%;
}